
body{

    background-color: #363636;
    color: #FFFAF0;
    
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 20px;
}

header {

    border-bottom: solid 2px rgba(81, 151, 15, 0.977);
    padding: 10px;
    font-size: 25px;
    color: rgba(81, 151, 15, 0.977);
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
   
    
}

img{
    height: 200px;
}

.vds{
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    padding-top: 50px;
}

.vds img:hover{

    opacity: 1.0;
    border: 2px solid #FFFAF0 ;

}

.a1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #4F4F4F;
    padding-right: 100px;
 }